<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Made Tech - Interview App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'modernizr-2.8.3.min' %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%= yield %>

        <%= javascript_include_tag 'application' %>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            //(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            //function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            //e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            //e.src='//www.google-analytics.com/analytics.js';
            //r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            //ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
